:root {
	--accent-color: #34cb79;
	--title-color: #3c3c3c;
	--text-color: #151515;
	--sub-text-color: #6c6c80;
	--divider-color: #ddd;
	--background-color: #f0f0f5;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--background-color);
	-webkit-font-smoothing: antialiased;
	color: var(--text-color);
}

body,
input,
button {
	font-family: Roboto Mono, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--title-color);
	font-family: Roboto Mono, monospace;
}
